<h1>Preferences</h1>


<%= form_for @user.preference, html: { multipart: true }, url: preference_path do |f| %>

<div class="field">
   <%= f.label :image %><br>
   <%= f.file_field :image, 'id'=>'image-input' %>
   <%= image_tag @user.preference.image.url(:medium), 'id'=>'image-preview', 'class'=>'img-responsive' %>
 </div>

<div><label>Email:</label>
<%= @user.email %>
</div>

<div><label>Notifications:</label>

<div class="form-group">
 <div>
 <%= f.check_box :notification_message %>
  <%= f.label :notification_message %>
 </div>
 <div>
  <%= f.check_box :notification_interest %>
  <%= f.label :notification_interest %>
</div>
<div>
  <%= f.label :about_me %>
  <%= f.text_area :about_me, class: "form-control" %><br />
</div>
 

<div><label>Location:</label>
<input type='text' id='location' placeholder='Where am I?'/>
<button id='locateMeButton'>Locate me</button>
</div>

<script>
  $(function () {
    $('#locateMeButton').on('click', locateMe);
  });
  
  function locateMe(event) {
    event.preventDefault();
    navigator.geolocation.getCurrentPosition(function (pos) {
      $.ajax('/locate_me', {
          async: true,
          data: {
            position: pos
          },
          method: 'GET',
          dataType: 'json'
        })
        .done(function(result) {
          $('#location').val(result.address);
        });
    }, null, null);
  }

$(function() {
    $('#image-input').on('change', function(event) {
      var files = event.target.files;
      var image = files[0]
      var reader = new FileReader();
      reader.onload = function(file) {
        $('#image-preview').attr('src',file.target.result);
      }
      reader.readAsDataURL(image);
      console.log(files);
    });
  });

</script>
  <%= f.submit class: "btn btn-primary" %>
</div>
<% end %>