<% content_for :head do %>      
  <%= javascript_include_tag 'preferences' %>
  <%= stylesheet_link_tag    'preferences' %>
<% end %>


<h1>Preferences</h1>


<%= form_for @user.preference, html: { multipart: true }, url: preference_path do |f| %>

<div class="field image-uploader">
   <%= image_tag @user.preference.image.url(:medium), 'id'=>'image-preview'%>

    <%= f.label :image, class: 'button' %>
    <%= f.file_field :image, 'class'=>'show-for-sr' %>

 </div>

<div class="input-group">
  <%= f.label :display_name, class: 'input-group-label' %>
  <%= f.text_field :display_name, class: 'input-group-field' %>
</div>

<div><label>Email:</label>
<%= @user.email %>
</div>

<div><label>Notifications:</label>

<div class="form-group">
 <div>
 <%= f.check_box :notification_message %>
  <%= f.label :notification_message %>
 </div>
 <div>
  <%= f.check_box :notification_interest %>
  <%= f.label :notification_interest %>
</div>
<div>
  <%= f.label :about_me %>
  <%= f.text_area :about_me, class: "form-control" %><br />
</div>

<input type="hidden" id="latitude" name="latitude"/>
<input type="hidden" id="longitude" name="longitude"/>



<div class="hidden">
  <%= f.text_field :location, class: 'input-group-field map-controls', id: 'map-input', placeholder: 'Enter your location' %>
  <div id="map-locate-me" class="map-controls" >
    <input id='locateMeButton' type="button" class="button" value="Locate Me"/>
    <div id='loader' type="button" class='button hidden'>
      <div>
        <span class='fi-loop medium'></span>
      </div>
    </div>
  </div>
</div>
<%= f.label :location, class: 'input-group-label' %>
<div class='input-group'>
  <div id="map"></div>
</div>
  <%= f.submit class: "button", id: "updatepreferences" %>
</div>
<% end %>

<script src="https://maps.googleapis.com/maps/api/js?libraries=places&callback=initMap"
        async defer></script>

