<%= form_for(@product, html: { multipart: true, class: 'product-dialog-submit', id: 'product_edit_form'  }, remote: true) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="field image-uploader">
   <%= image_tag @product.image.url, 'id'=>'image-preview'%>

    <%= f.label :image, class: 'button' %>
    <%= f.file_field :image, 'class'=>'show-for-sr' %>

 </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.collection_select :category_id, Category.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>

  <div>
  <%= f.label :description %>
  <%= f.text_area :description, class: "form-control" %>
  </div>
  
  <div>
  <%= f.label :status %>
  <%= f.select(:status, Product.statuses.keys.map {|status| [status.titleize,status]}) %>
  </div>

  <div class='actions float-right'>
    
    <%= f.submit :class =>'success button', remote: true%>
    <% if !@product.new_record? %>
       <%= link_to 'Cancel', @product, remote: true, class: 'button' %>
    <% end %>
  </div>
<% end %>


<script>
  $(function() {
    $('#product_image').on('change', function(event) {
      var files = event.target.files;
      var image = files[0]
      var reader = new FileReader();
      reader.onload = function(file) {
        $('#image-preview').attr('src',file.target.result);
      }
      reader.readAsDataURL(image);
    });
    
    $('#product_edit_form').ajaxForm({
      target: '#product_edit_form'
    });
  });
</script>


