<%= link_to root_path do %>
  <%= image_tag 'arrietty.jpg', class: 'img-responsive header-logo' %>
<% end %>


<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<div id="anchor"></div>

<div data-sticky-container>
  <div class="top-bar stick" style="right: 0; left: 0; top: 0;" id="main-menu">
    <div class="top-bar-left">
      
        <%= form_tag root_path, method: "GET" do%>
          <ul class="menu">
            <li><%= text_field_tag :q, params[:q], placeholder: 'Search for items', type: 'search' %></li>
            <li><%= submit_tag "Search", class: "button hollow" %></li>
          </ul>
        <% end %>
      
    </div>
    <div class="top-bar-right">
      <ul class="dropdown menu" data-dropdown-menu>
        <% if user_signed_in? %>
        <li>
        <%= link_to new_product_path, remote: true, id: 'add-product-link', class: 'product-dialog-submit'  do %>
          <i class="fi-plus" id="header-icon"></i>
        <% end %>
        </li>
        <li><%= link_to "My Stuff", "/my_products" %></li>
        <li class='profile-parent-menu'>
      
         <a href="#" id='profile-link'>
            <%= image_tag current_user.preference.image.url(:small)%>
            <%=current_user.display_name%>
          </a>
          <ul class="menu vertical">
            <li> <%= link_to "/preferences" do%> 
              <span class='fi-torso'/> 
              Preferences
            <% end %></li>
            <li><%= link_to "Sign out", "/users/sign_out", method: 'delete' %></li>
          </ul>
        </li>
        <% else %>
          <li><%= link_to "Sign in", "/users/sign_in", class: 'nav navbar-nav navbar-right' %></li>
        <% end %>  
      </ul>
    </div>
  </div>
</div>
